# ignora .venv in src/
src/.venv/
.runtime/

.config/
*.egg-info/
src/build/
src/dist/

.codex/
.pytest_cache/

# ignora tute le pycache
__pycache__/
*.pyc
*.pyo
*.pyd

# ignoro le routines
routines/*/
